/* Глобальные настройки секций */
section {
  padding: 100px 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Шапка сайта */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.35;
  font-style: normal;
}

/* Секция Cover (Обложка) */
.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
}

.cover__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 78px;
  justify-content: flex-end;
}

.cover__description-text {
  max-width: 540px;
  text-transform: uppercase;
  word-spacing: 18px;
  color: #fff;
  font-size: 22px;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 22px;
  flex-shrink: 0;
}

/* Секция Лоты */
.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
}

/* Секция Об аукционе */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  align-items: start;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 20px;
}

.about__text p {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

/* Подвал */
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px;
  align-items: start;
}

.footer .address {
  justify-self: start;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}