/* Шаг 3: Глобальная стилизация */
section {
  padding: 100px 50px; /* Внешние и внутренние отступы блоков */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Шаг 4: Детальная стилизация Шапки */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  line-height: 1.5;
  font-style: normal;
}

/* Шаг 5: Обложка (Cover) */
.cover {
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
}

.cover__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center { text-align: center; }
.aligned-text_right { text-align: right; }

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 78px;
  justify-content: flex-end;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  cursor: pointer;
  text-transform: uppercase;
}

/* Шаг 6: Лоты */
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-top: 27px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 450px;
}

.card {
  position: relative;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
}

.card__title, .card__text {
  position: relative;
  z-index: 2;
  color: #fff;
}

/* Шаг 7: Об аукционе */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
}

/* Шаг 8: Подвал */
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px;
  align-items: start;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__social-list {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}